html, body {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.mobile{ display: none; }

.col-1  { width: 8.33%; }
.col-2  { width: 16.66%; }
.col-3  { width: 25%; }
.col-4  { width: 33.33%; }
.col-5  { width: 41.66%; }
.col-6  { width: 50%; }
.col-7  { width: 58.33%; }
.col-8  { width: 66.66%; }
.col-9  { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }


[class*="col-"] {
  float: left;
}
.square{height:100%; border: solid red; padding: 5px;}
.mainSquare33{height:33%; border:none ; padding: 5px;}

.square2{height:100%; border: none; padding: 5px;}
.square3{height: 100%; border: solid red;} /*center square3*/

/* 
   We reduce each box's width by the total gap so four boxes fit on one row. */
.square2 .square3{
  width: calc((100% - 15px) / 4);
  float: left;
  margin-right: 5px;
}
.square2 .square3:last-child{
  margin-right: 0;
}
.square33{height:100%; border:none; padding: 5px; margin: auto;} /*center square33*/
.square66{height:100%; border: none; padding: 5px; margin: auto;} /*center square66*/
.inner50{height:50%; border: solid red; margin-bottom:5px;}
.inner50:last-child{margin-bottom:0; height: calc(50% - 5px);}
.inner66{height:100%; border: solid red;}

.bottomSquare{height:100%; border:none; padding: 5px;}
.bottomSquare1{height:100%; border: solid red;}
.bottomSquare1:nth-child(1){width: calc(58.33% - 2.5px);}
.bottomSquare1:nth-child(2){width: calc(41.66% - 2.5px); margin-left: 5px;}


@media only screen and (max-width:750px) {
  .desktop{ display: none; }
  .mobile{ display: block; }

    /* A. Reset ALL Column and Float Behavior */
    [class*="col-"] {
        width: 100% !important; 
        float: none !important;
        display: block !important; 
        padding: 0 !important; /* Remove any padding that might conflict */
    }

    /* B. GHOST the main layout wrappers */
    /* This removes the visual space of the wrappers (col-2 square, col-10 square, mainSquare33)
       so only the inner squares are visible and stacked neatly. */
    .square, .mainSquare33, .square2, .square33, .square66, .bottomSquare {
        display: block !important;
        height: auto !important;
        width: 100% !important; 
        border: none !important; /* Remove red borders from wrappers */
        padding: 0 !important;
        margin: 0 !important;
        overflow: visible !important; 
    }
    .square{ margin-top: 10px; width: auto; height: auto; } 
    
    /* Group ALL the final visual elements into one style block */
    .square3,
    .inner50, 
    .inner66, 
    .bottomSquare1 
    {
        display: block !important;
        
        /* Enforce Uniform Dimensions */
        width: 90% !important; 
        height: 70px !important; /* Fixed, uniform height for all inner boxes */
        
        /* Center and space them out */
        margin: 10px auto !important; /* Uniform margin-top/bottom and centered */
        
        /* Ensure they have a consistent border */
        border: solid red !important;
    }

    .square2 .square3, .bottomSquare1 {
        margin-right: auto !important;
        margin-left: auto !important;
    }

}

